<div>
  <div>
    <h1>
      Firm #<%= @the_firm.id %> details
    </h1>

    <div>
      <div>
        <a href="/firms">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_firm/<%= @the_firm.id %>">
          Delete firm
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Firm name
      </dt>
      <dd>
        <%= @the_firm.firm_name %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_firm.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_firm.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_firm.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit firm
    </h2>

    <form action="/modify_firm/<%= @the_firm.id %>"  method="post" >
      <div>
        <label for="firm_name_box">
          Firm name
        </label>

        <input type="text" id="firm_name_box" name="query_firm_name" value="<%= @the_firm.firm_name %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_firm.user_id %>">
      </div>

      <button>
        Update firm
      </button>
    </form>
  </div>
</div>

<hr>
