<div>
  <div>
    <h1>
      My job applications
    </h1>
  </div>
</div>

<div>
  <div>

    <form action="/insert_job" method="post">
      <div class="add_jobs_form">
        <div><input type="text" id="firm_name_box" name="query_firm_name" placeholder = "Company*"></div>
        <div><input type="text" id="role_box" name="query_role" placeholder = "Role*"></div>
        <div><input type="text" id="job_desc_link_box" name="query_job_desc_link" placeholder = "Link to job description"></div>
        <div><input type="text" id="follow_up_link_box" name="query_follow_up_link" placeholder = "Link to follow up your application"></div>
        <div><input type="text" id="job_number_box" name="query_job_number" placeholder = "Job number (e.g.: R008974)"></div>
        <div><input type="text" id="status_box" name="query_status" placeholder = "Status"></div>
        <div><input type="text" id="country_box" name="query_country" placeholder = "Country"></div>
        <div><input type="text" id="state_box" name="query_state" placeholder = "State"></div>
        <div><input type="text" id="city_box" name="query_city" placeholder = "City"></div>

        <button>
          Add!
        </button>

      </div>

    </form>
  </div>
</div>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Firm name
        </th>

        <th>
          Role
        </th>

        <th>
          Job desc
        </th>

        <th>
          Job desc link
        </th>

        <th>
          Follow up link
        </th>

        <th>
          Status
        </th>

        <th>
          Summary job desc
        </th>

        <th>
          Country
        </th>

        <th>
          City
        </th>

        <th>
          State
        </th>

        <th>
          Job number
        </th>

        <th>
          Firm
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @current_user.jobs.each do |a_job| %>
      <tr>
        <td>
          <%= a_job.id %>
        </td>

        <td>
          <%= a_job.firm_name %>
        </td>

        <td>
          <%= a_job.role %>
        </td>

        <td>
          <%= a_job.job_desc %>
        </td>

        <td>
          <%= a_job.job_desc_link %>
        </td>

        <td>
          <%= a_job.follow_up_link %>
        </td>

        <td>
          <%= a_job.status %>
        </td>

        <td>
          <%= a_job.summary_job_desc %>
        </td>

        <td>
          <%= a_job.country %>
        </td>

        <td>
          <%= a_job.city %>
        </td>

        <td>
          <%= a_job.state %>
        </td>

        <td>
          <%= a_job.job_number %>
        </td>

        <td>
          <%= a_job.firm_id %>
        </td>

        <td>
          <%= a_job.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_job.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_job.updated_at) %> ago
        </td>

        <td>
          <a href="/jobs/<%= a_job.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
