<div>
  <div>
    <h1>
      My job applications
    </h1>
  </div>
</div>

<hr>

<form action="/insert_job" method="post">

  <div class="row">
    
    <div class="col-md-2 mb-3">
        <label for="firm_name_box" class="form-label">Company*</label>
        <input id="firm_name_box" name="query_firm_name" type="text" class="form-control">
    </div>

    <div class="col-md-2 mb-3">
        <label for="role_box" class="form-label">Role*</label>
        <input id="role_box" name="query_role" type="text" class="form-control">
    </div>

    <div class="col-md-2 mb-3">
        <label for="job_desc_link_box" class="form-label">Link to job description</label>
        <input id="job_desc_link_box" name="query_job_desc_link" type="text" class="form-control" placeholder="https://jobposting.site">
    </div>

    <div class="col-md-2 mb-3">
        <label for="follow_up_link_box" class="form-label">Link to follow up</label>
        <input id="follow_up_link_box" name="query_follow_up_link" type="text" class="form-control" placeholder="https://company.jobs">
    </div>

    <div class="col-md-1 mb-3">
        <label for="job_number_box" class="form-label">Job number</label>
        <input id="job_number_box" name="query_job_number" type="text" class="form-control" placeholder="R436210">
    </div>

    <div class="col-md-1 mb-3">
        <label for="country_box" class="form-label">Country</label>
        <input id="country_box" name="query_country" type="text" class="form-control" value="USA">
    </div>

    <div class="col-md-1 mb-3">
        <label for="state_box" class="form-label">State</label>
        <input id="state_box" name="query_state" type="text" class="form-control">
    </div>

    <div class="col-md-1 mb-3">
        <label for="city_box" class="form-label">City</label>
        <input id="city_box" name="query_city" type="text" class="form-control">
    </div>


  </div>

  <div class="row">
    <div class="col-md-11 mb-3">
        <input id="job_desc_box" name="query_job_desc" type="text" class="form-control" placeholder ="Paste job description for future use">
    </div>

    <div class="col-md-1 mb-3 my-auto">
      <button class="btn btn-primary">Add</button>
    </div>
  </div>

</form>

<br>


<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Firm name
        </th>

        <th>
          Role
        </th>

        <th>
          Job desc
        </th>

        <th>
          Job desc link
        </th>

        <th>
          Follow up link
        </th>

        <th>
          Status
        </th>

        <th>
          Summary job desc
        </th>

        <th>
          Country
        </th>

        <th>
          City
        </th>

        <th>
          State
        </th>

        <th>
          Job number
        </th>

        <th>
          Firm
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @current_user.jobs.each do |a_job| %>
      <tr>
        <td>
          <%= a_job.id %>
        </td>

        <td>
          <%= a_job.firm_name %>
        </td>

        <td>
          <%= a_job.role %>
        </td>

        <td>
          <%= a_job.job_desc %>
        </td>

        <td>
          <%= a_job.job_desc_link %>
        </td>

        <td>
          <%= a_job.follow_up_link %>
        </td>

        <td>
          <%= a_job.status %>
        </td>

        <td>
          <%= a_job.summary_job_desc %>
        </td>

        <td>
          <%= a_job.country %>
        </td>

        <td>
          <%= a_job.city %>
        </td>

        <td>
          <%= a_job.state %>
        </td>

        <td>
          <%= a_job.job_number %>
        </td>

        <td>
          <%= a_job.firm_id %>
        </td>

        <td>
          <%= a_job.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_job.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_job.updated_at) %> ago
        </td>

        <td>
          <a href="/jobs/<%= a_job.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
