
  
  <div>
    <p><a href="/jobs" class="btn btn-light btn-sm">Go back to My Applications</button></a></p>
  </div>

<div class="col-sm-12">
  <div class="card">
    <h5 class="card-header">About the role</h5>
      <div class="card-body">
        <h5 class="card-title"><%= @the_job.role %> @ <%= @the_job.firm_name %></h5>


        <%= @the_job.country %> <%= @the_job.state %> <%= @the_job.city %>

        <p> 
        
        Status: 

        <% if @the_job.status == "Applied" %>
            <span class="badge rounded-pill text-bg-warning"> <%= @the_job.status %></span>
          <% elsif @the_job.status == "Interview" %>
            <span class="badge rounded-pill text-bg-success"> <%= @the_job.status %></span>
          <% elsif @the_job.status == "Rejected" %>
            <span class="badge rounded-pill text-bg-danger"> <%= @the_job.status %></span>
          <% else %>
            <span class="badge rounded-pill text-bg-secondary"> <%= @the_job.status %></span>
          <% end %>
        
        </p>


        <hr>
        <div class="row">

          <div class="col">
            <% if @the_job.job_desc_link.nil? || @the_job.job_desc_link.blank? %>
              <a href="#" class="btn btn-light btn-sm">Original job description</a>
              <% else %>
                <a href="<%= @the_job.job_desc_link %>" target="blank" class="btn btn-light btn-sm">Original job description</a>  
              <% end %>
            
            <% if @the_job.follow_up_link.nil? || @the_job.follow_up_link.blank? %>
              <a href="#" class="btn btn-light btn-sm">Follow up: Go to company's job portal</a>
              <% else %>
                <a href="<%= @the_job.follow_up_link %>" target="blank" class="btn btn-light btn-sm">Follow up: Go to company's job portal</a>
              <% end %>
          </div>

          <div class="col text-end">
            <a href="/jobs/edit/<%= @the_job.id %>" class="btn btn-primary text-end">Edit role</a>
          </div>

        </div>
    </div>
  </div>
</div>

<br>

<div class="col-sm-12">
  <div class="card">
    <h5 class="card-header">My contacts @ <%= @the_job.firm_name %> </h5>
      <div class="card-body">

      <form action="/insert_contact" method="post">

        <div class="row">
        
          <div class="col-md-2 mb-3">
              <label for="first_name_box" class="form-label">First name*</label>
              <input id="first_name_box" name="query_first_name" type="text" class="form-control">
          </div>     

          <div class="col-md-2 mb-3">
              <label for="last_name_box" class="form-label">Last name*</label>
              <input id="last_name_box" name="query_last_name" type="text" class="form-control">
          </div>    

          <div class="col-md-2 mb-3">
              <label for="role_box" class="form-label">Role</label>
              <input id="role_box" name="query_role" type="text" class="form-control">
          </div>    

          <div class="col-md-2 mb-3">
              <label for="email_box" class="form-label">Email</label>
              <input id="email_box" name="query_email" type="email" class="form-control">
          </div>    

          <div class="col-md-2 mb-3">
              <label for="firm_name_box" class="form-label">Company</label>
              <input id="firm_name_box" name="query_firm_name" type="text" class="form-control" value="<%= @the_job.firm_name %>">
          </div>    

          <input id="job_id_box" name="query_job_id" type="text" class="form-control" value="<%= @the_job.id %>" style="display: none;">

          <div class="col-md-2 mb-3 my-auto text-end">
            <button class="btn btn-primary">Add contact</button>
          </div>

        </div>

    </form>



        <% @the_job.firm.contacts.each do |a_contact| %>

      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" onclick="window.location.href='/contacts/<%= a_contact.id %>'">
          <div class="col">
            <div class="row d-flex justify-content-between">
          
              <div class="col-md-2">
                <%= a_contact.first_name %> <%= a_contact.last_name %>
              </div>

              <div class="col-md-2">
                <%= a_contact.role %>
              </div>

              <div class="col-md-2">
                <%= a_contact.email %>
              </div>

              <div class="col-md-1">
                <% if a_contact.touchpoints.count == 0 %>
                  <span class="badge rounded-pill text-bg-secondary"><%= a_contact.touchpoints.count %> touchpoints</span>
                <% else %>
                  <span class="badge rounded-pill text-bg-ssuccess"><%= a_contact.touchpoints.count %> touchpoints</span>             
                <% end %>
              </div>

              <div class="col-md-2 text-end">
                <a href="/contacts/edit/<%= a_contact.id %>" class="btn btn-secondary btn-sm">Edit</a>
              </div>                 

            </div>
          </div>
          
        <% end %>
      </div>
  </div>
</div>
