

<div class="col-sm-12">
  <div class="card">
    <h5 class="card-header">
      <div class="row d-flex justify-content-between">          
          <div class="col">
            <%= @the_job.role %> @ <%= @the_job.firm_name %> 
            <span class="badge rounded-pill text-bg-<%= @color.at(@status.index(@the_job.status)) %>"> <%= @the_job.status %></span>
          </div>
         
          <div class="col-md-3 text-end">
            <a href="/modify_status_to_interview_from_job/<%= @the_job.id %>" title="Interview" class="btn btn-outline-success btn-sm"> <i class="bi bi-emoji-smile"></i> </a>
            <a href="/modify_status_to_applied_from_job/<%= @the_job.id %>" title="Applied" class="btn btn-outline-warning btn-sm"> <i class="bi bi-send-check"></i> </a>
            <a href="/modify_status_to_rejected_from_job/<%= @the_job.id %>" title="Rejected" class="btn btn-outline-danger btn-sm"> <i class="bi bi-emoji-frown"></i> </a>
            <a href="/jobs/edit/<%= @the_job.id %>" title="Edit job" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
            <a href="/delete_job/<%= @the_job.id %>" title="Delete" class="btn btn-outline-danger btn-sm cancel-button" onclick="confirmDelete(event, <%= @the_job.id %>)" > <i class="bi bi-x-circle"></i> </a>
          </div>
        </div>
    </h5>


    <div class="card-body">
      
      <div>
        <% if @the_job.firm_name.nil? || @the_job.firm_name.blank? %>
          <p class="opacity-25"> <strong> Company: </strong> </p>
        <% else %>
          <p> <strong> Company: </strong> <a href="/firms/<%= @the_job.firm_id %>"><%= @the_job.firm_name %></a> </p>
        <% end %>
      </div>

      <div>
        <% if @the_job.role.nil? || @the_job.role.blank? %>
          <p class="opacity-25"> <strong> Role: </strong> </p>
        <% else %>
          <p> <strong> Role: </strong> <%= @the_job.role %> </p>
        <% end %>
      </div>
      
      <div>
        <% if @the_job.job_number.nil? || @the_job.job_number.blank? %>
          <p class="opacity-25"> <strong> Job number: </strong> </p>
        <% else %>
          <p> <strong> Job number: </strong> <%= @the_job.job_number %> </p>
        <% end %>
      </div>

      <div>
        <% if (@the_job.city.nil? || @the_job.city.blank?) && (@the_job.state.nil? || @the_job.state.blank?) && (@the_job.country.nil? || @the_job.country.blank?) %>
          <p class="opacity-50"> Location: </p>
        <% else %>
          <p> <strong> Location: </strong> <%= @the_job.city %> <%= @the_job.state %> <%= @the_job.country %> </p>   
        <% end %>
      </div>  

      <div>
        <% if @the_job.job_desc_link.nil? || @the_job.job_desc_link.blank? %>
          <p class="opacity-25"> <strong> Link to original job description: </strong> </p>
        <% else %>
          <p> <strong> Original job description: </strong> <a href="<%= @the_job.job_desc_link %>" target="blank">Go to job posting</a> </p>
        <% end %>
      </div>

      <div>
        <% if @the_job.follow_up_link.nil? || @the_job.follow_up_link.blank? %>
          <p class="opacity-25"> <strong> Follow up: </strong> </p>
        <% else %>
          <p> <strong> Follow up: </strong> <a href="<%= @the_job.follow_up_link %>" target="blank">Go to company's job portal</a> </p>
        <% end %>
      </div>

      <div>
        <% if @the_job.created_at.nil? || @the_job.created_at.blank? %>
          <p class="opacity-25"> <strong> Applied at: </strong> </p>
        <% else %>
          <p> <strong> Applied: </strong> <%= @the_job.created_at.strftime("%B %d, %Y") %> </p>
        <% end %>
      </div>    

    </div>
  </div>
</div>

<br>

<div class="col-sm-12">
  <div class="card">
    <h5 class="card-header">My contacts @ <%= @the_job.firm_name %> </h5>
      <div class="card-body">

      <form action="/insert_contact_from_job" method="post">

        <div class="row">
        
          <div class="col mb-3">
              <label for="first_name_box" class="form-label">First name*</label>
              <input id="first_name_box" name="query_first_name" type="text" class="form-control">
          </div>     

          <div class="col mb-3">
              <label for="last_name_box" class="form-label">Last name*</label>
              <input id="last_name_box" name="query_last_name" type="text" class="form-control">
          </div>    

          <div class="col mb-3">
              <label for="role_box" class="form-label">Role</label>
              <input id="role_box" name="query_role" type="text" class="form-control">
          </div>    

          <div class="col mb-3">
              <label for="email_box" class="form-label">Email</label>
              <input id="email_box" name="query_email" type="email" class="form-control">
          
              <input id="firm_name_box" name="query_firm_name" type="hidden" class="form-control" value="<%= @the_job.firm_name %>">
              <input id="job_id_box" name="query_job_id" type="text" class="form-control" value="<%= @the_job.id %>" style="display: none;">
          </div>    

          <div class="col mb-3 my-auto text-end">
            <button class="btn btn-primary">Add contact</button>
          </div>

        </div>

    </form>



        <% @the_job.firm.contacts.each do |a_contact| %>

      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" onclick="window.location.href='/contacts/<%= a_contact.id %>'">
          <div class="col">
            <div class="row d-flex justify-content-between">
          
              <div class="col-md-2 text-truncate">
                <%= a_contact.first_name %> <%= a_contact.last_name %>
              </div>

              <div class="col-md-2 text-truncate">
                <%= a_contact.role %>
              </div>

              <div class="col-md-2 text-truncate">
                <%= a_contact.email %>
              </div>

              <div class="col-md-1">              
                <span class="badge rounded-pill text-bg-light"><%= a_contact.touchpoints.count %> touchpoints</span>            
              </div>

              <div class="col-md-2 text-end">
                <a href="/contacts/edit/<%= a_contact.id %>"  title="Edit contact"class="btn btn-outline-primary btn-sm"> <i class="bi bi-pencil-square"></i> </a>
                <a href="/delete_contact_from_job/<%= a_contact.id %>/<%= @the_job.id %>" title="Delete" class="btn btn-outline-danger btn-sm cancel-button" onclick="confirmDelete(event, <%= a_contact.id %>)" > <i class="bi bi-x-circle"></i> </a>
              </div>                 

            </div>
          </div>
          
        <% end %>
      </div>
  </div>
</div>
