
<div class="col-sm-12">
  <div class="card">
    <h5 class="card-header">
      <div class="row d-flex justify-content-between">          
          <div class="col">
            <i class="bi bi-person-fill-check"></i> <%= @the_contact.first_name %> <%= @the_contact.last_name %>
          </div>
         
          <div class="col-md-3 text-end">

              <a href="/delete_contact/<%= @the_contact.id %>>" title="Delete" class="btn btn-outline-danger btn-sm cancel-button" onclick="confirmDelete(event, <%= @the_contact.id %>)" > <i class="bi bi-x-circle"></i> </a>
            
          </div>
        </div>
    </h5>


    <div class="card-body">
      
      <form action="/modify_contact/<%= @the_contact.id %>"  method="post" >
          
          <div class="col-md-4 mb-3">
            <label for="first_name_box" class="form-label text-truncate">First name</label>
            <input id="first_name_box" name="query_first_name" type="text" class="form-control" value="<%= @the_contact.first_name%>">
          </div>

          <div class="col-md-4 mb-3">
            <label for="last_name_box" class="form-label text-truncate">Last name</label>
            <input id="last_name_box" name="query_last_name" type="text" class="form-control" value="<%= @the_contact.last_name%>">
          </div>

          <div class="col-md-4 mb-3">
            <label for="firm_name_box" class="form-label text-truncate">Company name</label>
            <input id="firm_name_box" name="query_firm_name" type="text" class="form-control" value="<%= @the_contact.firm_name%>">
          </div>

          <div class="col-md-4 mb-3">
            <label for="role_box" class="form-label text-truncate">Role</label>
            <input id="role_box" name="query_role" type="text" class="form-control" value="<%= @the_contact.role%>">
          </div>

          <div class="col-md-4 mb-3">
            <label for="email_box" class="form-label text-truncate">Email</label>
            <input id="email_box" name="query_email" type="text" class="form-control" value="<%= @the_contact.email%>">
          </div>

          <div class="col-md-2 mb-3 my-auto">
            <button class="btn btn-primary text-truncate">Save changes</button>
          </div>

      </form>

    </div>
  </div>
</div>
