<div>
  <div>
    <h1>
      Contact #<%= @the_contact.id %> details
    </h1>

    <div>
      <div>
        <a href="/contacts">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_contact/<%= @the_contact.id %>">
          Delete contact
        </a>
      </div>
    </div>

    <dl>
      <dt>
        First name
      </dt>
      <dd>
        <%= @the_contact.first_name %>
      </dd>

      <dt>
        Last name
      </dt>
      <dd>
        <%= @the_contact.last_name %>
      </dd>

      <dt>
        Firm name
      </dt>
      <dd>
        <%= @the_contact.firm_name %>
      </dd>

      <dt>
        Role
      </dt>
      <dd>
        <%= @the_contact.role %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @the_contact.email %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_contact.status %>
      </dd>

      <dt>
        Firm
      </dt>
      <dd>
        <%= @the_contact.firm_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_contact.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_contact.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_contact.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


