<!DOCTYPE html>
<html>
  <head>
    <title>Jobster</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <style>

      html{
        min-height:100%;
        height: fit-content;
      }

      body{
        min-height:100%;
        height: fit-content;
        padding-left: 0px;
        box-sizing: border-box;
        font-family: Sans-Serif;
        margin:0px;
        background-color: rgb(255, 255, 255);
      }
      
      .banner{
        display: flex;
        padding-left: 100px;
        padding-right: 100px;
        background-color: rgb(50, 50, 50);
        align-items: center;           
      }    

      .item{
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 20px;
        padding-top: 20px;
        box-sizing: border-box;
        color: rgb(255, 255, 255)
      }

      .right{
        margin-left: auto;
      }

      .menu_link{
        padding-bottom: 20px;
        padding-top: 20px;
        box-sizing: border-box;
        text-decoration: none;
        color: rgb(200, 200, 200);
        transition: 0.5s;          
      }

      .menu_link:hover{
        color: rgb(255, 255, 255);          
      }

      .thumbnail{
        width: 20px;
        height: 20px;          
      }

      .site{
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 30px;
      }

    </style>

  </head>

  <body>

  <nav class = "banner">
        
    <div class = "item">Jobster</div>
    <div class = "item"><a href = "/jobs" class = "menu_link">My applications<a></div>
    <div class = "item"><a href = "/contacts" class = "menu_link">My contacts<a></div>
    <div class = "item"><a href = "/firms" class = "menu_link">My companies<a></div>
    <div class = "item"><a href = "/touchpoints" class = "menu_link">Touchpoint<a></div>
    <div class = "item"><a href = "/questions" class = "menu_link">Questions<a></div>

    <% if @current_user == nil %>

      <div class = "item right"><a href = "/user_sign_in" class = "menu_link">Log in<a></div>
      <div class = "item"><a href = "/user_sign_up" class = "menu_link">Sign up<a></div>

    <% else %>

      <div class = "item right"><a href = "/user_sign_out" class = "menu_link">Log out<a></div>
      <div class = "item"><a href = "/edit_user_profile" class = "menu_link">Hi, <%= @current_user.first_name %> <a></div>

    <% end %>

    <div class = "item"><img class = "thumbnail" src = "user.png"> </img></div>

  </nav>

  <div class = "site">
    <p style = color:green><%= notice %></p>
    <p style = color:red><%= alert %></p>
  </div>

  <div class = "site">
    <%= yield %>
  </div>

  </body>
</html>
